In [1]:
import pandas as pd

# 중복 값이 있는 데이터 생성
df = pd.DataFrame({
    "car":['Sedan','SUV','Sedan','SUV','SUV','SUV','Sedan','Sedan','Sedan','Sedan','Sedan'],
    "size":['S','M','S','S','M','M','L','S','S', 'M','S']
})

df.to_csv('./ch2', index=False)

df = pd.read_csv('./ch2')

df.head()

     car size
0  Sedan    S
1    SUV    M
2  Sedan    S
3    SUV    S
4    SUV    M

In [2]:
# 항목 종류 수
df.nunique()

car     2
size    3
dtype: int64

In [3]:
# 항목 종류
print(
    df['car'].unique(),
	df['size'].unique(),
)

['Sedan' 'SUV'] ['S' 'M' 'L']

In [4]:
# 항목별 개수
print(
    df['car'].value_counts(),
    df['size'].value_counts(),
)

car
Sedan    7
SUV      4
Name: count, dtype: int64 size
S    6
M    4
L    1
Name: count, dtype: int64

In [5]:
# 기초 통계 1
df.describe()

          car size
count      11   11
unique      2    3
top     Sedan    S
freq        7    6

In [6]:
# 기초 통계 2
df.describe()

          car size
count      11   11
unique      2    3
top     Sedan    S
freq        7    6