In [ ]:
import pandas as pd

df = pd.DataFrame({
		'A': ['데이터 분석', '기본 학습서', '김상훈'],
		'B': [10, 20, 30],
		'C': ['ab cd', 'AB CD', 'ab cd '],
	})

df.head()

        A   B       C
0  데이터 분석  10   ab cd
1  기본 학습서  20   AB CD
2     김상훈  30  ab cd

In [ ]:
df['A'] = df['A'].replace('분석', '시각화')
df.head() # 문자열의 일부분만 변경했으므로 적용되지 않음

        A   B       C
0  데이터 분석  10   ab cd
1  기본 학습서  20   AB CD
2     김상훈  30  ab cd

In [ ]:
# 문자열의 일부분만 변경
df['A'] = df['A'].str.replace('분석', '시각화') # .str 추가
df.head()

         A   B       C
0  데이터 시각화  10   ab cd
1   기본 학습서  20   AB CD
2      김상훈  30  ab cd

In [12]:
# 숫자는 적용 불가
# df['B'] = df['B'].str.replace(10, 200)
# df.head()