In [11]:
# 판다스 주입
import pandas as pd

In [10]:
# 열 선언
menu = pd.Series(['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'])
price = pd.Series([4500, 5000, 5500, 5000, 4000, 5900, 5300])
calory = pd.Series([10, 110, 250, 110, 20, 210, 0])

In [13]:
# 데이터프레임 생성
df = pd.DataFrame({
    "메뉴": menu,
    "가격": price,
    "칼로리": calory,
})

In [14]:
# csv파일로 변환
df.to_csv('../data/ch1-1', index=False)

In [ ]:
# csv파일 변수저장
tmp1 = pd.read_csv('../data/ch1-1')

In [ ]:
# 데이터 확인
tmp1.head() # default: 5개

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [17]:
# 데이터 확인
tmp1.head(2) # 앞에서 2개

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110