In [28]:
import pandas as pd

df = pd.read_csv('./ch4.csv')
df.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [29]:
# loc[idx_name]
df.loc[0]

메뉴     아메리카노
가격      4500
칼로리       10
Name: 0, dtype: object

In [30]:
# iloc[idx_num]
df.iloc[2]

메뉴     카페모카
가격     5500
칼로리     250
Name: 2, dtype: object

In [31]:
# loc[row_idx_name, col_idx_name]
df.loc[:, '가격'] # 가격 컬럼 전체

0    4500
1    5000
2    5500
3    5000
4    4000
5    5900
6    5300
Name: 가격, dtype: int64

In [32]:
# iloc[row_idx_num, col_idx_num]
df.iloc[:, 1] # 컬럼 1번 인덱스 전체

0    4500
1    5000
2    5500
3    5000
4    4000
5    5900
6    5300
Name: 가격, dtype: int64

In [33]:
df.head()

      메뉴    가격  칼로리
0  아메리카노  4500   10
1   카페라떼  5000  110
2   카페모카  5500  250
3   카푸치노  5000  110
4  에스프레소  4000   20

In [34]:
df.loc[1:2, '가격':'칼로리'] # idx_name

     가격  칼로리
1  5000  110
2  5500  250

In [35]:
df.iloc[1:3, 1:3] # idx_num

     가격  칼로리
1  5000  110
2  5500  250